@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --color-crimson: #990000;
  --color-crimson-light: #CC0000;
  --color-white: #FFFFFF;
}

@theme inline {
  --color-background: var(--color-white);
  --color-foreground: var(--color-crimson);
  
  --color-crimson: var(--color-crimson);
  --color-crimson-light: var(--color-crimson-light);
  --color-white: var(--color-white);

  --font-serif: var(--font-cormorant);
  --font-sans: var(--font-outfit);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
